<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agro-Drone</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        {%include 'includes/navbar.html' %}
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        {%include 'includes/sidebar.html' %}
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <h1>AREA STATUS</h1>
                <div class="row">
<!-- 
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend be-addon">
                                <button tabindex="-1" type="button" class="btn btn-secondary">AREA</button>
                                <button tabindex="-1" data-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"><span class="sr-only">Toggle Dropdown</span></button>
                                <div class="dropdown-menu"><a href="#" class="dropdown-item">Dhaka</a><a href="#" class="dropdown-item">Rajshahi</a><a href="#" class="dropdown-item">Khulna</a>
                                    <a href="#" class="dropdown-item">Barishal</a><a href="#" class="dropdown-item">Chottogram</a><a href="#" class="dropdown-item">Natore</a><a href="#" class="dropdown-item">Dinajpur</a>
                                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Another</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div> -->
                    

                        <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <!-- <h5 class="card-header">Recent Area</h5> -->
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <form action="/show_status" METHOD="POST">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    
                                                    <th class="border-0">Area Name</th>
                                                    <th class="border-0">Area Id</th>
                                                    <th class="border-0">Total Area (km<sup>2</sup>)</th>
                                                    <th class="border-0">Scan Time</th>
                                                    <th class="border-0">Officer<th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in rows %}
                                                <tr>
                                                    <td>{{ row['Area_name'] }}</td>
                                                    <td>{{ row['Area_ID'] }}</td>
                                                    <td>{{ row['Total_area'] }}</td>
                                                    <td>{{ row['Scan_time'] }}</td>
                                                    <td>{{ row['Officer'] }}</td>	
                                                    		
                                                </tr>
                                              {% endfor %}
                                                
                                                
                                                
                                               
                                            </tbody>
                                        </table>
                                        <button type="submit" , class="viewall-button" name="save" , value="save">View All</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                  

                        
                    </div>
                    <h1>Information Obtained</h1>
                    <div class="row">
                        
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top img-fluid p-2" src="../assets/images/mango1.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title">Mango Tree</h3>
                                    <p class="card-text">Post-harvest treatments are available for control of anthracnose in mango fruit. Prochloraz is used as a cold non-recirculating spray. Hot water dips used to control fruit flies will also control anthracnose and stem end rots. Hot benomyl dips will control anthracnose and are useful where stem end rots are a problem.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top img-fluid p-2" src="../assets/images/mango2.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title">Mango Tree</h3>
                                    <p class="card-text">Post-harvest treatments are available for control of anthracnose in mango fruit. Prochloraz is used as a cold
                                    non-recirculating spray. Hot water dips used to control fruit flies will also control anthracnose and stem end rots. Hot benomyl dips will control anthracnose and are useful where stem end rots are a problem.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top img-fluid p-2" src="../assets/images/mango4.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title">Mango Tree</h3>
                                    <p class="card-text">Post-harvest treatments are available for control of anthracnose in mango fruit. Prochloraz is used as a cold
                                    non-recirculating spray. Hot water dips used to control fruit flies will also control anthracnose and stem end rots. Hot
                                    benomyl dips will control anthracnose and are useful where stem end rots are a problem.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top img-fluid p-2" src="../assets/images/mango3.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title">Mango Tree</h3>
                                    <p class="card-text">Post-harvest treatments are available for control of anthracnose in mango fruit. Prochloraz is used as a cold
                                    non-recirculating spray. Hot water dips used to control fruit flies will also control anthracnose and stem end rots. Hot
                                    benomyl dips will control anthracnose and are useful where stem end rots are a problem.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
    
                    </div>

                    <!-- <h1>Detail Information</h1> -->
                    <div class="row">
                        <div class="container-fluid dashboard-content ">
                            <!-- ============================================================== -->
                            <!-- pageheader  -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="page-header">
                                        <h1 class="pageheader-title">Detail Information </h1>
                                        <p class="pageheader-text"></p>
                                        <div class="page-breadcrumb">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Agro Drone</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Area Status</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end pageheader  -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header p-4">
                                             <a class="pt-2 d-inline-block" href="index.html">Table-Mango Tree</a>
                                           
                                            <div class="float-right"> <h3 class="mb-0">Mango Tree</h3>
                                            Date: 3 July, 2022</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row mb-4">
                                                <div class="col-sm-6">
                                                    <h5 class="mb-3">Area:</h5>                                            
                                                    <h3 class="text-dark mb-1">Rajshahi</h3>
                                                 
                                                    <div>Area-1, Rajshahi</div>
                                                    <div>Officer: Tamim</div>
                                                    <div>Email: ti28@gmail.com</div>
                                                    
                                                </div>
                    
                                            </div>
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="center">Area ID</th>
                                                            <th>Item</th>
                                                            <th>Trees in total</th>
                                                            <th class="right">Total Mangoes from trees</th>
                                                          
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">1245</td>
                                                            <td class="left strong">Mango</td>
                                                            <td class="left">160</td>
                                                            <td class="right">15000</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="center">1233</td>
                                                            <td class="left">Mango</td>
                                                            <td class="left">130</td>
                                                            <td class="right">11000</td>
                                                            
                                                           
                                                        </tr>
                                                        <tr>
                                                            <td class="center">1273</td>
                                                            <td class="left">Mango</td>
                                                            <td class="left">125</td>
                                                            <td class="right">10900</td>
                                                            
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="center">1294</td>
                                                            <td class="left">Mango</td>
                                                            <td class="left">108</td>
                                                            <td class="right">8000</td>
                                                            
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-lg-4 col-sm-5">
                                                </div>
                                                <div class="col-lg-4 col-sm-5 ml-auto">
                                                    <table class="table table-clear">
                                                        <tbody>
                                                            <tr>
                                                                <td class="left">
                                                                    <strong class="text-dark">Subtotal</strong>
                                                                </td>
                                                                <td class="right">$28,809,00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="left">
                                                                    <strong class="text-dark">Discount (20%)</strong>
                                                                </td>
                                                                <td class="right">$5,761,00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="left">
                                                                    <strong class="text-dark">VAT (10%)</strong>
                                                                </td>
                                                                <td class="right">$2,304,00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="left">
                                                                    <strong class="text-dark">Total</strong>
                                                                </td>
                                                                <td class="right">
                                                                    <strong class="text-dark">$20,744,00</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> -->
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>
        </div>


        <!-- ============================================================== -->
        <!-- footer -->
        {% include 'includes/footer.html' %}
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>
    <script src="info.js"></script>
</body>

</html>